.idea
__pycache__
__version__.py
build
OSSOSv11/
OSSOSv11.tgz
.DS_Store
*.log
.ipynb_checkpoints
*.a
*.swp
*.so
*.o
*.fpp
*.mod
F95/Driver
F95/GiMeObj.f95
*.icloud
dist
Rebound_Archive*.bin
.python-version
uv.lock
bdir
.vscode
*.egg-info
